footer{
    background-color: #273454;
    
    
}
#footer_itens{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 10px;
  
}

.contato{
    color: #fff;
}

.contato i{
    margin-left: 20px;
    margin-right: 3px
}

#copyright{
    color: #fff;
    font-size: small;
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    #footer_itens{
        flex-direction: column;
        gap: 10px;
    }
    .contato {
        display: none;
       
    }
}